<!DOCTYPE html>
<html>

<head>
    <title>WeUI</title>
    <% include _head.html %>
</head>

<body ontouchstart>
    <header class="demos-header">
        <h1 class="demos-title">二维码</h1>
    </header>
    <div class="page-bd-15">
        <a href="javascript:;" class="weui-btn weui-btn_primary" data-role="qrcode">生成名片二维码</a>
    </div>
    <div style="text-align: center;margin-top:20px;">
        <canvas id="canvas"></canvas>
    </div>

    <% include _foot.html %>
    <script>
        $(function () {
            $('[data-role="qrcode"]').on("click", function () {
                return qr();
            });
        });

        function qr() {
            QRCode.toCanvas(
                document.getElementById("canvas"),
                "Hello Test", {
                    version: 10,
                    errorCorrectionLevel: "H",
                    maskPattern: 7
                },
                function (error) {
                    if (error) console.error(error);
                    console.log("success!");
                }
            );
        }
    </script>
</body>

</html>